<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpfei.graduationproject">
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GraduationProject">
        <activity android:name=".ui.activities.hr.HrMainActivity"></activity>
        <activity android:name=".ui.activities.hr.HrUpdateInfoActivity" />
        <activity android:name=".ui.activities.hr.login.HrLoginAndRegisterActivity" />
        <activity android:name=".ui.activities.common.UpdateUserInfoActivity" />
        <activity android:name=".ui.activities.common.ModifyUserInfoActivity" />
        <activity android:name=".ui.activities.common.ModifyPassWordActivity" />
        <activity android:name=".ui.activities.common.SettingActivity" />
        <activity android:name=".ui.activities.common.AboutActivity" />
        <activity android:name=".ui.activities.common.FeedBackActivity" />
        <activity android:name=".ui.activities.common.MyCollectActivity" />
        <activity android:name=".ui.activities.common.MyAttentionActivity" />
        <activity android:name=".ui.activities.common.SignInActivity" />
        <activity android:name=".ui.activities.common.MyApplyActivity" />
        <activity android:name=".ui.activities.common.EditUserInfoActivity" />
        <activity android:name=".ui.activities.common.MyDataActivity" />
        <activity android:name=".ui.activities.common.HelpActivity" />
        <activity android:name=".ui.activities.common.MyIntegralActivity" />
        <activity android:name=".ui.activities.common.FindsWebDetailsActivity" />
        <activity android:name=".ui.activities.common.MyInfoActivity" />
        <activity android:name=".ui.activities.common.login.LoginAndRegisterActivity" />
        <activity android:name=".ui.activities.common.JobWebDetailsActivity" />
        <activity android:name=".ui.activities.common.SearchActivity" />
        <activity android:name=".ui.activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.common.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.gpfei.graduationproject.BmobContentProvider" />
    </application>

</manifest>